@tailwind base;
@tailwind components;
@tailwind utilities;

.header-background {
  background-color: #7600aa;
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 0C6.716 0 0 6.716 0 15c8.284 0 15-6.716 15-15zM0 15c0 8.284 6.716 15 15 15 0-8.284-6.716-15-15-15zm30 0c0-8.284-6.716-15-15-15 0 8.284 6.716 15 15 15zm0 0c0 8.284-6.716 15-15 15 0-8.284 6.716-15 15-15z' fill='%23690097' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E");
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #9c9c9c;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.border-special {
  border-style: solid;
  border-image: linear-gradient(
      147.33deg,
      rgba(0, 164, 246, 0.3) 0%,
      rgba(119, 56, 255, 0.3) 100%
    )
    1;
  border-radius: 0.75rem !important;
}

.btn-background {
  background: rgb(119, 56, 255);
  background: linear-gradient(
    90deg,
    rgba(119, 56, 255, 1) 0%,
    rgba(78, 195, 253, 1) 90%
  );
}

.btn-background:hover {
  background: rgb(119, 56, 255);
  background: linear-gradient(
    90deg,
    rgba(119, 56, 255, 1) 0%,
    rgba(78, 195, 253, 1) 95%
  );
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
